:root {
    background-color: #edeff0;
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    columns: #333;
}

body {
    font-family: 'Lato', arial, sans-serif;
    color: #434343;
    background: #edeff0;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 , h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 4rem;
}

h1 > span {
    font-size: 2.4rem;
    font-weight: 500;
}

h2 {
    font-size: 3.2rem;
    font-weight: 700;
}

h3 {
    font-size:2.8rem;
    font-weight: 500;
}

h4 {
    font-size:2.0rem;
}

/* UTILITIES */
.container{
    display: flex; /* establish flex container */
    margin: 0 auto;
    flex-direction: column;

}

.container > * {
    width: 100%;
}

.bellow-border {
    border-bottom: #333;
}

/* Sections */
.header{
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #fff;
}
.profile-description {
    margin-left: 1.5rem;
    margin-top: 1rem;

    

}
.profile-job {
    color: #778492;
    font-family: "Lato", arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 15px;

}
/* profile image */
.profile-image{
    border-radius: 50%;
    height: 14rem;
}

.profile-name {
    margin-bottom: 0.5rem;
    color: #49515a;
}

.body-container{
    width: 85%;
    display: flex;
    margin: 5rem auto;
    /* text-align: center; */
    justify-content: center;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline-item:not(:last-child) {
    margin-right: .5rem;
}

.list-inline-item {
    display: inline-block;
}

.profile-description .social a {
    background: #b0b7bf;
    width: 36px;
    height: 36px;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #fff;
    text-align: center;
}

.primary {
    width: 70%;
    /* background: red; */
}
.secondary {
    margin-left: 3%;
    /* background: black; */
    width: 30%;
}

/* Sections */
.section {
    margin-bottom: 30px;
}
.section .section-inner {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
}
.section .heading {
    margin-top: 0;
    margin-bottom: 30px;
    color: #545e69;
    font-size: 24px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.header .social a .svg-inline--fa {
    font-size: 20px;
    margin-top: 8px;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.svg-inline--fa.fa-w-14 {
    width: .875em;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.info ul {
    margin-bottom: 0;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.info li {
    margin-bottom: 15px;
}

a {
    color: #3AAA64;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}
.info .svg-inline--fa {
    margin-right: 15px;
    color: #ccd1d6;
}
.svg-inline--fa.fa-w-12 {
    width: .75em;
}
svg:not(:root) {
    overflow: hidden;
    vertical-align: middle;
}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

/* experince */
.experience .item {
    margin-bottom: 30px;
}

.experience .item .title {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #778492;
}

.experience ul {
    margin-top: 0;
    margin-left: 3rem;
    margin-bottom: 1rem;
}

.experience .item .title {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
    line-height: 1.5;
}

.experience .item .title .place {
    color: #999;
    font-weight: normal;
}

.experience .item .title .place a {
    color: #999;
}

.header a.btn-contact {
    background: #54ba4e;
    border: 1px solid #54ba4e;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    margin-left: 30%;
}

.header a.btn-contact:hover {
    background: #49ac43;
    border: 1px solid #49ac43;
    color: #fff;
}

/* .btn:focus, .btn:hover {
    text-decoration: none;
} */

.btn, a.btn {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    padding: 8px 16px;
}

.btn {
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/* Education Section */
.education .item .title {
    font-size: 16px;
    margin-top: 0;
}

.education .item .university {
    font-size: 13px;
    color: #999;
    font-weight: 600;
    padding-left: 25px;
}

/* Media Queries for different screens */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 800px) {
    .header {
        display: block;
        text-align: center;
    }
    .header a.btn-contact{
        margin-left: 15px;
    }
    /* .list-inline {
        padding-bottom: 1%;
    } */
    .body-container {
        display: block;
        
    }
    .primary {
        width: 100%;
    }
    .secondary {
        width: 100%;
        margin-left: 0;
    }
}
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 800px) {
    /* .example {background: green;} */
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    /* .example {background: blue;} */
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    /* .example {background: blue;} */
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    /* .example {background: pink;} */
  }

.footer {
    background: #32383e;
    color: #fff;
    padding: 10px 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.text-center {
    text-align: center!important;
}

.footer .copyright {
    line-height: 1.5;
    color: #a1aab4;
    font-size: 14px;
}